@media (max-width:420px){

    main .container .girl-face{
        display: none;
    }

    .container{
        margin: 0px 0px 0px 0px;
    }

    .menu{
        display: none;
    }

    .orangesquare{
        padding-left: 100vw;
        font-display: center;
        z-index: 2;
        color: aliceblue;
        width:0;
        height:0%;
        background-color: #e56121;
        justify-items: center;
        text-align:center;
        align-items: center;
    
    }
    
    *{
        align-items: center;
        justify-content: center;  
        text-align: center; 
    }



}