@media (max-width:412px){

    main .container .girl-face{
        display: none;
    }

    .container{


    }

    .logo{
        top: 20px
    }
    .header .logo-a:hover{
        width: 1.5%;
        transition: 0.2s;
        transform: scale(1.1);
    
    }

    .menu li{
        display: none;
    }

    .orangesquare{
        display: flex;
        padding-left: 100vw;
        font-display: center;
        color: aliceblue;

        width:100vw;
        height: auto;
        
        /*
        background-color: #e56121;
        justify-items: center;
        text-align:center;
        align-items: center;
        z-index: 2;
        */
    }
    .orangesquare p {

        display: block; /* Párrafos en línea y bloque */
        width: 100%; /* Ancho del 100% de la columna */

    }
    .text1 
    *{
        align-items: center;
        justify-content: center;  
        text-align: center; 
    }



}